<nav class="ui menu">
    <%= link_to "Work Orders", work_orders_path, class: "item" %>
    <% if @work_order %>
    <div class="ui compact menu">
        <div class="ui simple dropdown item">
          Add Tasks
          <i class="dropdown icon"></i>
          <div class="menu">
            <% @work_order.lists.each do |l| %>
            <div class="item"> <%= link_to  l.title , new_list_task_path(l.id) %></div>
           <% end%>
           <% else%>
          </div>
        </div>
      </div>
      <% end%>
    <div class="right menu">
      <%# if current_user %>
        <%# link_to "Logout", destroy_user_session_path, method: :delete, class: "item" %>
      <%#else %>
        <%# link_to "Register", new_user_registration_path, class: "item" %>
        <%# link_to "Login", new_user_session_path, class: "item" %>
      <%# end %>
    </div>
  </nav>